<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property name="BM_CONFIG_DIR" value="R://bookmark-api_v3"></property>
	<property name="LOG_FILE_NAME" value="bm.log"></property>

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${BM_CONFIG_DIR}/${LOG_FILE_NAME}</file>
		<encoder>
			<pattern>%d [%thread] %-5level %-50logger{40} - %msg%n</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${BM_CONFIG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>1MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10MB</totalSizeCap>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
	</appender>
	
	<logger name="in.bookmark.api" level="info"
		additivity="false">
		<appender-ref ref="RollingFile" />
	</logger>

	<root level="error">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>



</configuration>